footer 
    .container(class="border-b flex justify-between -md:grid grid-cols-2 -sm:grid-cols-1")
        .footer-item
            .footer-logo(class=" rem:h-[70px w-auto -lg:h-auto")
                img(src="./img/logo.png", alt="")
        .footer-item 
            ul(class="item-list")
                li
                    h3 Thông tin liên lạc
                li
                    a(href="") Website:https://doc247.com
                li
                    a(href="") Email:hotrodocx247@gmail.com
                li
                    .social
                        ul(class="flex  gap-2 ")
                            li
                                a(href="") <i class="fa-brands fa-facebook-f"></i> 
                            li
                                a(href="") <i class="fa-brands fa-youtube"></i>
                            li
                                a(href="") <i class="fa-brands fa-linkedin"></i>
                            li
                                a(href="") <i class="fa-brands fa-instagram"></i>
                    
        .footer-item 
            ul(class="item-list")
                li
                    h3 Liên kết nhanh
                li
                    a(href="") Giới thiệu về DocX247.com
                li
                    a(href="") Dành cho người bán 
                li
                    a(href="") Dành cho người mua
                li
                    a(href="") Thông báo
                li
                    a(href="") Câu hỏi thường gặp
        .footer-item 
            ul(class="item-list")
                li
                    h3 Hướng dẫn &amp; chính sách
                li
                    a(href="") Hướng dẫn sử dụng
                li
                    a(href="") Chính sách bảo mật
                li
                    a(href="") Chính sách bản quyền
                li
                    a(href="") Điều khoản sử dụng dịch vụ
    .desgin(class="flex justify-center items-center py-6 text-neutral-500 font-light") 
        h4(class="font-normal body-16") © 2018 DocX247.com. All Rights Reserved.